<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <section class="p-3">
    <h2>In the News</h2>

      <% links.forEach(link => { %>
        <a class="single" href="<%= link.url %>">
          <p class="snippet"><u><%= link.title %></u></p>
        </a>
      <% }) %>
  </section>
    
   
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>